table {
    border: 2px solid forestgreen;
    display: block;
    max-height: 400px;
    overflow-y: auto;
    
}

th {
    margin: 0 auto;
    width: 50px;
    padding: 16px;
    border-bottom: 1px solid black;
}

td {
    padding: 16px;
    margin: 0 auto;
    text-align: center;
}

tbody {

}